body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-weight: bold;
}

/* p {
  line-height: 1.6;
} */

header {
  background-image: url("./img/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

.carousel-item img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}
.card img {
  width: 100%;
  height: 400px;
  object-fit: cover;

}
